In [1]:
import pandas as pd
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler

### Carregando os dados

In [2]:
df_clientes = pd.read_csv('dados/dados_clientes.csv')

In [3]:
df_clientes.head()

   id  idade  renda_anual  pontuacao_gastos
0   1     56        94740                90
1   2     69       136352                50
2   3     46        86617                62
3   4     32       114841                97
4   5     60        36896                51

# Análise exploratória

In [4]:
df_clientes[['idade', 'renda_anual', 'pontuacao_gastos']].describe()

            idade    renda_anual  pontuacao_gastos
count  500.000000     500.000000        500.000000
mean    44.732000   81557.166000         48.512000
std     15.239707   36764.379945         29.556946
min     18.000000   20384.000000          0.000000
25%     32.000000   49172.750000         24.000000
50%     45.000000   79219.000000         48.500000
75%     57.000000  113017.250000         73.250000
max     70.000000  149695.000000        100.000000

### Pré-processamento dos dados

In [5]:
#padronizador dos dados
padronizador = StandardScaler()

In [7]:
dados_padronizados = padronizador.fit_transform(df_clientes[['idade', 'renda_anual','pontuacao_gastos']])

In [8]:
dados_padronizados

array([[ 0.74012478,  0.35893538,  1.40506904],
       [ 1.59401387,  1.49192537,  0.05039391],
       [ 0.08328703,  0.13776654,  0.45679645],
       ...,
       [-0.31081563,  0.32661636,  0.18586143],
       [-1.23038848, -1.48706069,  1.43893592],
       [-1.03333716, -0.96992912, -0.59307677]])

### Construção do modelo de ML para segmentação de clientes

In [16]:
k = 3

In [10]:
kmeans = KMeans(n_clusters = k)

In [11]:
kmeans.fit(dados_padronizados)

KMeans(n_clusters=3)

In [12]:
df_clientes['cluster'] = kmeans.labels_

In [17]:
df_clientes.head(13)

    id  idade  renda_anual  pontuacao_gastos  cluster
0    1     56        94740                90        2
1    2     69       136352                50        0
2    3     46        86617                62        2
3    4     32       114841                97        0
4    5     60        36896                51        2
5    6     25       145729                37        0
6    7     38        66175                96        2
7    8     56        27805                87        2
8    9     36        25237                78        2
9   10     40       135247                29        0
10  11     28        40056                50        2
11  12     28        65543                80        2
12  13     41        76556                 4        1

In [18]:
df_clientes.to_csv('dados/segmentos.csv', index = False)